[Desktop Entry]
Type=Service
Icon=editcopy
Actions=OpenAsRoot
X-KDE-Priority=TopLevel
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,inode/directory-locked,inode/directory-hidden

[Desktop Action OpenAsRoot]
Exec=~/.kde/share/kde4/services/copypath.sh
Icon=editcopy
Name=copy path
 
